<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>new person</title>
</head>
<body>

<form th:method="POST" th:action="@{/people}" th:object="${person}" th:accept-charset="UTF-8">
  <label for="name">Enter name: </label>
  <input type="text" th:field="*{name}" id="name"/>
  <br/>
  <label for="age">Enter age: </label>
  <input type="text" th:field="*{age}" id="age"/>
  <br/>
  <input type="submit" value="Create!"/>
</form>

</body>
</html>