<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Страница с пользователями</title>
    <style>
        /* Добавьте стили CSS для отображения пользователей вертикально */
        .user-card {
            border: 1px solid #ccc;
            padding: 10px;
            margin: 10px;
            display: block; /* Установите display на block */
            clear: both; /* Добавьте clear: both, чтобы предотвратить обтекание другими элементами */
        }


        .user-card > div {
            display: block; /* Этот стиль превращает div в блочный элемент */
        }
    </style>
</head>
<body>

<h1>Пользователи</h1>

<!-- Отображение информации о пользователях -->
<div th:each="person : ${people}" class="user-card">
    <div>
        <a th:href="@{/people/{id}(id=${person.getId()})}">
            <span th:text="${person.getName()}">User</span>
        </a>
        <h4 th:text="${person.getComment()}"></h4>
    </div>
</div>

<!-- Форма для оставления комментариев -->
<div class="comment-box">
    <h2>Оставить комментарий</h2>
    <button onclick="window.location.href = 'new.html'">комментарий</button>
</div>

</body>
</html>
